.cover {
  background-color: var(--light-color);
        padding: 0rem;
        border: 1px solid var(--light-grey-color);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @media (max-width: 980px) {
          box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
          margin: 0.5rem;
          width: inherit;

          opacity: 0;
          &.lazy-active {
            animation-name: lazy-fade-in;
            animation-duration: 3s;
            opacity: 1;
          }

          @media print {
            opacity: 1;
            animation-name: inherit !important;
            animation-duration: inherit !important;
          }
        }

}
  
  .image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.7s ease;
  }

  .placeholder {
     position: absolute; // ★ 이놈만 absolute
     top: 0;
     left: 0;
     width: 100%;
     height: auto;
     opacity: 1;
     transition: opacity 0.7s ease;
     z-index: 2;
    
     &.fade-out {
      opacity: 0;
    }
  }

  .real-image {
   width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.7s ease;
    position: relative;

    &.show {
      opacity: 1;
    }
  }
}
