.cover {
  background-color: var(--light-color);
        padding: 0rem;
        border: 1px solid var(--light-grey-color);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @media (max-width: 980px) {
          box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
          margin: 0.5rem;
          width: inherit;

          opacity: 0;
          &.lazy-active {
            animation-name: lazy-fade-in;
            animation-duration: 3s;
            opacity: 1;
          }

          @media print {
            opacity: 1;
            animation-name: inherit !important;
            animation-duration: inherit !important;
          }
        }

}

.image-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: auto;
       transition: opacity 0.7s ease;
    }
    .placeholder {
      opacity: 1;
      z-index: 1;

      &.fade-out {
        opacity: 0;
      }
    }

    .real-image {
      opacity: 0;
      z-index: 2;

      &.show {
        opacity: 1;
      }
    }
  }
  