.cover {
  background-color: var(--light-color);
        padding: 0rem;
        border: 1px solid var(--light-grey-color);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @media (max-width: 980px) {
          box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
          margin: 0.5rem;
          width: inherit;

          opacity: 0;
          &.lazy-active {
            animation-name: lazy-fade-in;
            animation-duration: 3s;
            opacity: 1;
          }

          @media print {
            opacity: 1;
            animation-name: inherit !important;
            animation-duration: inherit !important;
          }
        }

}
  
  .image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 2 / 3;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     transition: opacity 3s ease, filter 3s ease;
  }

  .skeleton {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      #e0e0e0 0%,
      #f5f5f5 50%,
      #e0e0e0 100%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 4s infinite;
    z-index: 3;
  }

   @keyframes skeleton-loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .placeholder {
    filter: blur(10px);
    opacity: 1;
    z-index: 2;
    transition: opacity 2.5s ease;

    &.fade-out {
      opacity: 0;
    }
  }

  .real-image {
    opacity: 0;
    filter: blur(10px);
    z-index: 1;

    &.show {
       opacity: 1;
      filter: blur(0px);
    }
  }
}
