.information {
  .info-card {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 2rem 1rem 1rem 1rem;

    position: relative;
    border: 1px solid var(--alt-color);
    border-radius: 0.5rem;
    .label {
      position: absolute;
      left: 50%;
      top: -1rem;
      transform: translateX(-50%);
      padding: 0.5rem 2rem 0.5rem 2rem;
      border-radius: 1rem;
      background-color: var(--alt-bg-color);
      border: 1px solid var(--alt-color);
    }
  }
  .content {
    line-height: 1.9;
    font-size: 0.9rem;
  }
}

.donation-card {
  text-align: center;
}

/* 탭 */

.donation-tabs {
  display: flex;
  margin: 20px 0;
  border-bottom: 1px solid #eee;
}

.donation-tabs button {
  flex: 1;
  padding: 12px 0;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #999;
}

.donation-tabs button.active {
  color: #000;
  border-bottom: 2px solid #000;
  font-weight: 600;
}

/* 계좌 리스트 */

.donation-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.donation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 14px;
  border-radius: 12px;
  background: #f7f7f7;
  position: relative;
  z-index: 10;
}

.donation-item .name {
  font-weight: 600;
  margin-bottom: 4px;
}

.donation-item .account {
  font-size: 13px;
  color: #666;
}

.donation-tabs {
  position: relative;
  z-index: 10;
}

.donation-tabs button {
  position: relative;
  z-index: 11;
  pointer-events: auto;
}

.donation-buttons {
  display: flex;
  align-items: center;
  gap: 10px;          
  width: auto;      
  flex: none;      
}

.kakaopay-icon-btn {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: #fbeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

/* 아이콘 크기 */

.kakaopay-icon-btn img {
  width: 40px;
  height: 35px;
  position: relative;
  z-index: 50;
  pointer-events: auto !important;
  touch-action: manipulation;
}

/* 눌림 효과 */

.kakaopay-icon-btn:active {
  transform: scale(0.95);
}